<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>这是一个测试！</h1>
<p>这可是模板哟!</p>
<p>再来一行！</p>
<hr />
<!-- 这是说明 -->
<p><a href="http://www.baidu.com">百度一下</a><p/>
<img src="../ico/python.png" />
<img src="../ico/1a.ico" />

<table border="1">
    <tr>
        <td>row 1, cell 1</td><td>row 1, cell 2</td>
    </tr>
    <tr>
        <td>&nbsp;</td><td>row 2, cell 2</td>
    </tr>
</table>

<ul>
<li>Coffee</li>
<li>Milk</li>
</ul>

<ol>
<li>Coffee</li>
<li>Milk</li>
</ol>

</body>
</html>